//colors
$gray-color: #B5B5B5;
$dark-gray-color: #101012;
$light-gray-color: #8e8f91;
$black-color: #1A1919;
$yellow-color: #bac727;
$bg-color: #040404;
$card-bg-color: #8257e6;

//fonts
$montserrat-font: "Montserrat", sans-serif;