<section class="container-fluid d-flex flex-column">
    <div class="arrow-back">
        <button class="btn button" routerLink="/">
            <img src="../../../assets/img/arrow-back.svg" alt="">
        </button>
    </div>
    <h1 class="title-source font-atari text-center text-white">Sobre Mim</h1>
    <div class="content text-white d-flex align-items-center justify-content-center">
        <p>Como Desenvolvedor Fullstack/Desenvolvedor Frontend capacitado, pude desenvolver recursos e microsistemas onde ajudaram empresas à agilizar processos.
            <br>
            <br>
            Possuo vasto conhecimento nos frameworks mais utilizados atualmente como React.js e Angular 9+, além de conhecimento em tecnologias muito utilizadas no backend também, como Java/Springboot e Node.js.
            <br>
            <br>
            Autodidata em Inglês, onde possuo o nível B2.
            <br>
            <br>
            Combinando minha expertise em desenvolvimento fullstack e desenvolvimento frontend com minha paixão por aprender e me aprimorar constantemente, estou pronto para enfrentar os desafios que vierem.</p>
    </div>
</section>
