.container-fluid{
    background-image: url("../../../assets/img/gif-atari.gif");
    min-height: 100vh;
    gap: 50px;
    .title-source{
        margin-top: 50px;
        @media (max-width: 999px) {
            margin-top: 20px;
        }
    }
    .content{
        width: 50%;
        margin: 0 auto;
        @media (max-width: 999px) {
            width: 90%;
        }
    }

    .arrow-back{
        position: fixed;
        top: 10px;
        left: 10px;
    }
}