<section class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="arrow-back">
        <button class="btn button" routerLink="/">
            <img src="../../../assets/img/arrow-back.svg" alt="">
        </button>
    </div>
    <div class="titles d-flex flex-column align-items-center">
        <h1 class="section-title text-white">Provavelmente você já deve ter me encontrado por alguma rede social ;)</h1>
        <h2 class="subtitle text-white">Mas abaixo, estão algumas redes sociais onde você pode me encontrar ou ver um pouco mais sobre mim</h2>
    </div>
    <div class="social-media d-flex flex-column align-items-center justify-content-center">

        <div class="gitLinkedin d-flex">
            <button class="button btn">
                <a href="https://www.linkedin.com/in/valdir-castro10/" target="_blank">Me ache no LinkedIn 
                    <span>
                        <img src="../../../assets/img/social-icons/icons8-linkedin.svg" alt="">
                    </span>
                </a>
            </button>
    
            <button class="btn button">
                <a href="https://github.com/valdircaf" target="_blank">Me ache no Github 
                    <span>
                        <img src="../../../assets/img/social-icons/icons8-github.svg" alt="">
                    </span>
                </a>
            </button>
        </div>

        <div class="other d-flex flex-column">
            <button class="btn button">
                <a href="https://www.tiktok.com/@beachcodebeats?lang=pt-BR" target="_blank">Faço alguns vídeos sobre minha rotina no TikTok 
                    <span>
                        <img src="../../../assets/img/social-icons/icons8-tiktok.svg" alt="">
                    </span>
                </a>
            </button>
    
            <button class="btn button">
                <a href="https://drive.usercontent.google.com/u/0/uc?id=1LT6yE1BLQnIyjjynHw1Tx0OK_vKAng8Q&export=download" target="_blank">Tenha meu currículo em mãos
                    <span>
                        <img src="../../../assets/img/icons8-baixar-64.png" alt="">
                    </span>
                </a>
            </button>
        </div>

    </div>
</section>
