@import "../../../assets/scss/variables.scss";

.container-fluid{
    background-image: url("../../../assets/img/gif-atari.gif");
    height: 100vh;
}

.title{
    margin-top: 30px;
    background-color: $gray-color;
}

.menu{
    margin-top: 200px;
    padding-right: 30px;
    width: 100%;
    .nav-link{
        .img{
            opacity: 0;
            margin-right: 30px;
            @media (max-width: 992px) {
                display: none;
                margin-right: 0;
            }
        }
    
        &:hover{
            .img{
                opacity: 1;
            }
        }
    }
}

