<section class="container-fluid d-flex flex-column align-items-center ">
    <div class="title">
        <h1 class="font-atari">Bem vindo ao meu Portfólio!</h1>
    </div>
    <div class="menu d-flex align-items-center justify-content-center flex-column font-atari">
        <button class="btn button">
            <a routerLink="/projects" class="nav-link menu-option" (mouseover)="onMouseOverOption()"><span class="img"><img src="../../../assets/img/arrow-menu.svg" alt=""></span>PROJETOS</a>
        </button>
        <button class="btn button">
            <a routerLink="/me" class="nav-link menu-option" (mouseover)="onMouseOverOption()"><span class="img"><img src="../../../assets/img/arrow-menu.svg" alt=""></span>SOBRE MIM</a>
        </button>
        <button class="btn button">
            <a routerLink="/social" class="nav-link menu-option" (mouseover)="onMouseOverOption()"><span class="img"><img src="../../../assets/img/arrow-menu.svg" alt=""></span>COMO ME ACHAR?</a>
        </button>
    </div>
</section>
