<section [ngClass]="{'showExpandCard': showExpandCard}" class="container-fluid d-flex flex-column align-items-center justify-content-center" (keypress)="handleKeyPress($event)" *ngIf="showContainer">
    <button class="arrowBack btn button" routerLink="/">
        <img src="../../../assets/img/arrow-back.svg" alt="">
    </button>
    <div class="title">
        <h1 class="title-source font-atari text-white">Projetos</h1>
    </div>
    <div class="projects d-flex align-items-center justify-content-center flex-wrap">
        <div *ngFor="let project of projects">
            <app-cards-project 
                [titleCard]="project.name" 
                [technologies]="project.technologies" 
                [descriptions]="project.descriptions" 
                [video]="project.video"
                [mainCardImage]="project.mainCardImage"
                >
            </app-cards-project>
        </div>
    </div>
</section>

<div class="load d-flex align-items-center justify-content-center" *ngIf="!showContainer">
    <img src="../../../assets/img/f0p.gif" alt="Gif Atari">
</div>
